@media (max-width: 610px) {
    .wrapper {
        width: 95%;
    }

    .title {
        flex-direction: column;
    }

    .title_img {
        width: 200px;
        height: 200px;
        margin: 0 auto 20px auto;
    }

    .full-name {
        height: 120px;
        margin: 0 auto;
        text-align: center;
    }
    .full-name h1 {
        font-size: 60px;
        width: 100%;
    }

    .full-name h2 {
        font-size: 25px;
    }

    .title-mail {
        font-size: 15px;
        margin: 5px auto 40px auto;
    }

    .topic-break {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .topic-title {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .topic-stripe {
        width: 100%;
    }

    .subtopic-title {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .profile-text {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .subtopic {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
    }

    .subtopic-info {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .education-list {
        font-size: 17px;
        margin: 20px auto 20px auto;
        width: fit-content;
    }

    .subtopic-info-text {
        font-size: 17px;
        font-family: 'Raleway', sans-serif;
        width: 100%;
        margin: 20px 0 10px auto;
        text-align: center;

    }

    .block-subtopic {
        margin-left: auto;
        margin-right: auto;
    }


    .skills-ul {
        display: flex;
        width: calc(80% - 20px);
        margin: 0 auto;
    }
    .ul {
        /*width: 500px;*/
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin: 30px auto;
    }

    .skills-list {
        font-size: 18px;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        list-style: none;
    }

    .skills-list li {
        padding: 5px 0;
    }
}
